@import '../../styles/settings.scss';

.productImage {
  width: 100%;
  height: 30rem;
  object-fit: cover;
  object-position: center;
}

.thumbnail {
  width: 9rem !important;
  height: 9rem;
  object-fit: cover;
  object-position: center;
  cursor: pointer;
  margin: 0.8rem;
  border: 1px solid $color-grey;
  opacity: 0.7;
  transition: all 0.2s ease;
}

.thumbnailActive {
  border: 2px solid $color-success;
  opacity: 1;
}

.controls {
  max-width: 200px;
}
