@import '../../styles/settings.scss';

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}

.list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.list a {
  text-decoration: none;
  color: $color-dark;
  margin-left: 10px;
}
